<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Amazooz{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        {% block javascripts %}
                {{ importmap('app') }}
        {% endblock %}
    </head>
    <body>
        <h1><img id="logo" src="{{ asset('images/logo.png') }}" />Amazooz</h1>
        <p>Des livres pas chers et de bonne tenue</p>
        <nav>
            <ul style="display:flex; flex-direction: row;list-style: none;">
                <li style="padding: 5px;"><a href="{{ path('book_list') }}">Books</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li style="padding: 5px;"><a href="{{ path('book_create') }}">Create a Book</a></li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED') %}
                    <li style="padding: 5px;"><a href="{{ path('app_logout') }}">Se deconnecter</a></li>
                {% else %}
                    <li style="padding: 5px;"><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </nav>

        {% for group, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ group }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
